@charset "UTF-8";

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #fff;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.522);
}

label,
button {
    border-radius: 0px !important;
}

#box {
    width: 40%;
    min-height: 30%;
    padding: 40px 40px 25px 40px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.222);
    border-radius: 10px;
    background-color: #fffffffb;
    margin: 0 auto;
    z-index: 1;
}

#weFoundNothing {
    display: none;
}

#didYouMeanTitle {
    display: none;
}

#choosenMovie {
    display: none;
}

#box-list {
    color: black;
    text-shadow: none;
}

#loaderSign {
    position: absolute;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-top: 150px;
}

.movie-li {
    margin: 20px 20px 20px 20px;
    border-style: dotted;
    padding: 20px;
    text-transform: uppercase;
}

.movie-li:hover {
    border-style: solid;
    cursor: pointer;
    transition: all 0.3s;
}

@media screen and (max-width: 1500px) {
    html,body {
        padding: 1px !important;
    }

    #box {
        width: 60% !important;
        height: 75% !important;
        padding: 20px 20px 10px 20px;
    }
}

@media screen and (max-width: 1200px) {
    html,body {
        padding: 0px !important;
    }

    #box {
        width: 90% !important;
        height: 90% !important;
    }
}

.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #43C6AC 0%, #329fca 100%);
    -webkit-animation: AnimateBG 10s ease infinite;
            animation: AnimateBG 10s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
